div.content {
    background-image: none;
}

.class_definition_table th,
.object_property_definition_table th {
    background-color: lightgoldenrodyellow;
}
.class_definition_table td,
.class_definition_table th,
.object_property_definition_table td,
.object_property_definition_table th {
    border: 1pt solid gray;
    padding: 1em;
    max-width: 50em;
}
.class_definition_table,
.object_property_definition_table {
    border-collapse: collapse;
}
figure {
    padding-top: 2em;
    padding-bottom: 2em;
}
figcaption {
    padding-top: 1em;
    font-style: italic;
}